@import url(fonts.css);
@import url(buttons.css);
@import url(table.css);
@import url(dialog.css);

:root {
    --color-background: white;
    --color-table: #DDD;
    --color-primary: #3c00c7;
    --color-primary-variant: #6c04ff;
    --color-secondary: #03DAC6;
    --color-secondary-variant: #018786;
    --color-font: black;

    --font-header: Poppins;
    --font-normal: Poppins;

    --radius: 16px;
}

* {
    font-family: var(--font-normal);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-background);
    color: var(--color-primary-variant);
    margin: 0;
}

header {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-size: 4rem;
}

main {
    width: fit-content;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 640px;

    margin: auto;
    padding: 2rem;
    border-radius: var(--radius);

    background-color: var(--color-table);
}

#action-bar {
    display: flex;
    gap: 1rem;
}


.avatar {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 110%;
}

