@import url(fonts.css);

:root {
    --color-background: #1f2f3f;
    --color-dark: #0c243b;
    --color-light: #afcbe5;

    --font-header: Poppins;
    --font-normal: Poppins;

    --radius: 5px;
}

* {
    font-family: var(--font-normal);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;

    aspect-ratio: 1/1;
}

button > img {
    width: 100%;
}

button:hover > img {
    width: 103%;
}

button:active > img {
    transform: translate(-1px, 1px);
}


body {
    background-color: var(--color-background);
    color: var(--color-light);
    margin: 0;
}

main {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 16px;
}

#action-bar {
    display: flex;
}

#action-bar button:first-child {
    border-radius: var(--radius) 0 0 0;
}

#action-bar button:last-child {
    border-radius: 0 var(--radius) 0 0;
}

table {
    border-radius: 0 0 var(--radius) var(--radius);
    padding: 8px;
    margin: auto;
}

tr {
    height: 50px;
}

th {
    font-family: var(--font-header);
    font-weight: 500;
    text-align: left;
}

td {
    color: white;
    font-weight: 400;
    font-size: 120%;
}


th, td {
    width: 100px;
    text-align: center;
}

tr > *:nth-of-type(1) {
    width: 65px;
}

tr > *:nth-of-type(2) {
    width: 600px;
    text-align: left;
}

tr > *:nth-of-type(4) {
    width: 150px;
}

tr > *:nth-of-type(6),
tr > *:nth-of-type(7)
{
    width: 50px;
}


.avatar {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 110%;
}




.svg-filter {
    filter: brightness(0) saturate(100%) invert(90%) sepia(19%) saturate(414%) hue-rotate(147deg) brightness(92%) contrast(95%);
}